
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    font-size: 14px;
    height:7vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 10;
  }

  .footerText {
    margin: 0 auto;
  }
  .footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
  }

  .footer a:hover {
    text-decoration: underline;
  }
